/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --first-color: hsl(216, 95%, 25%);
  --first-color-light: hsl(29, 80%, 70%);
  /* --black-color: hsl(0, 1%, 85%); */
  --text-color: hsl(29, 8%, 65%);
  /* --body-color: hsl(29, 100%, 99%); */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Poppins', sans-serif;
  --h3-font-size: 1.125rem;
  --smaller-font-size: .75rem;
}

/*=============== BASE ===============*/
/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

body {
  font-family: var(--body-font);
  background-color: var(--body-color);
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}



/*=============== CARD ===============*/

/* .container {
  height: 100vh;
  margin-inline: 1.5rem;
  display: grid;
  place-items: center;
  display: flex;
} */

.whole{
    display: grid;
    grid-template-columns: repeat(4,3fr);
    justify-content: center;
    place-items: center;
    column-gap: 90px;
    row-gap: 90px;
}

.card{
  position: relative;
  width: 256px;
  display: flex;
  justify-content: center;
  /* box-shadow: 0px 0px 4px 4px #00ffff; */

  /*glass effet beginds*/
  /* backdrop-filter: blur(1px) saturate(111%); */
  /* -webkit-backdrop-filter: blur(1px) saturate(111%); */
  /* background-color: rgba(0, 12, 95, 0.01); */
  /*glass effect ends*/
  
  background-image: url('../../../../images/Generic/Aavartan.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

border: 4px solid #00ffff99;
  align-items: center;
  flex-direction: column;
  /* top: 90px; */
  /* background-color: var(--black-color); */
  /* padding: 1.25rem 2rem 3rem; */
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
  height: 340px;
}

.overAllC{
  color: rgb(117, 4, 117);
}

.card--border img{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
}

.card--border{
  width: 195px;
  height: 195px;
  box-shadow: 0px 0px 2px 2px rgb(248, 220, 120);
  /* border: 1px solid rgb(248, 220, 120); */
  border-radius: 50%;                                       
  display: grid;
  place-items: center;
  margin: 0 auto .75rem;
}

.card--name{
  /* color: var(--first-color); */
  color: rgb(248, 220, 120);
  font-size: var(--h3-font-size);
  font-weight: 500;
  text-shadow: 1px 1px #000,-1px -1px #000,1px -1px #000, -1px 1px #000 ;
}

.card--social{
  width: 200px;
  background-color: cyan;
  opacity: 1;
  
  padding: .75rem;
  border-radius: 3rem;
  text-align: initial;
  box-shadow: 0 8px 24px hsla(29 75% 56% .3);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.75rem;
  margin: 0 auto;
  overflow: hidden;
  transform-origin: 18px 17px;

}

.card--social-control{
  position: relative;
  transform-origin: 18px 18px;
  transition: transform .45s ease;
  transform: rotate(0deg);

}

.card--social-toggle{
  display:inline-flex;
  background-color: rgba(0, 0, 0, 0.822);
  color: white;
  font-size: 1.25rem;
  padding: .5rem;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 10;
}


.card--social-text{
  color: var(--black-color);
  font-weight: 500;
  position: absolute;
  left: 0;
  right: 0;
  font-size: 16px;
  padding-left: 4rem;
  padding-top: 0.2rem;
}

.card--social-list{
  display: inline-flex;
  column-gap: .75rem;
  transform: rotate(135deg);
  transform-origin: 20px 17px;
}

.card--social-link{
  display: inline-flex;
  color: var(--black-color);
  font-size: 1.5rem;
  padding: 6px;
  border-radius: 50%;
}

.linkedin{
  background-color: rgb(12, 119, 219);
}

.github{
  background-color: black;
}

.facebook{
  background-color: darkblue;
}

.instagram{
  background-color: rgb(239, 117, 137);
}

.card--social-link:hover{
  background-color: rgb(191, 196, 201);
}

.card--social-list{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.domain_name{
  color: rgb(248, 220, 120);
  font-weight: 100;
  margin-bottom: 10px;
  text-shadow: 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.card--social-text{
  top: .35rem;
}
/* Rotate social */


.animation .card--social-control{
  transform: rotate(-135deg);
}

/* Up animation */

.card--social.animation{
  animation: up-animation 1s ease-in-out forwards;
}

@keyframes up-animation{
  0%,100%{
    transform: rotate(0);
  }
  50%,60%{
    transform: rotate(-3deg);
  }
  88%{
    transform: rotate(1deg);
  }
}

/* Down animation */

.card--social.down-animation{
  animation: down-animation 1s ease-in-out forwards;
}

@keyframes down-animation{
  0%,100%{
    transform: rotate(0);
  }
  50%,60%{
    transform: rotate(6deg);
  }
  88%{
    transform: rotate(-1deg);
  }
}

@media only screen and (max-width : 950px){
  .whole{
    display: grid;
    grid-template-columns: repeat(3,3fr);
    justify-content: center;
    place-items: center;
    column-gap: 34px;
    row-gap: 56px;
  }
}

@media only screen and (max-width : 850px){
  .whole{
    display: grid;
    grid-template-columns: repeat(2,3fr);
    justify-content: center;
    place-items: center;
    column-gap: 20px;
    row-gap: 40px;
  }
}

@media only screen and (max-width : 600px){
  .whole{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
