.ahcontainer{
  height: 100%;
	position: relative;
	overflow: hidden;
}
.ahcontainer video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	height: 100vh;
}
.videoWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	background: black;
}
.particleWrapper,
.particleWrapperLeft {
	width: 100%;
	height: 100%;
  top: 0;
  left: 0;
  position: relative;
}
.textcontent {
	position: absolute;
	height: 100%;
  width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 12%;
  padding-bottom: 10%;
  justify-items: center;
  align-items: flex-start;
}
.textcontent h2 {
  font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 5px 5px  #cc0f39, -5px -5px cyan;
	color: white;
	letter-spacing: 3px;
    /* text-align: center; */
    font-family: modern-warfare;
}

.textcontent p {
  font-size: 1.2rem;
  color: whitesmoke;
  padding: 1rem 0;
  /* text-align: center; */
}
@media screen and (max-width: 769px){
  .textcontent {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .textcontent h2 {
    font-size: 50px;
  }
  
  .textcontent p {
    padding: 0.4rem 0;
    font-size: 1rem;
  }
}
@media screen and (max-width: 426px){
  .textcontent {
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
  }
  .textcontent h2 {
    font-size: 2.8rem;
  }
  
  .textcontent p {
    padding: 0.8rem 0;
    font-size: 12px;
  }
}
.button49,
.button49:after {
  width: 13rem;
  height: 4rem;
  line-height: 50px;
  font-size: 1.8rem;
  font-family: modern-warfare;
  background: linear-gradient(45deg, transparent 5%, #37AEE2 0%, #1E96C8 100%);
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin-top: 15px;
  /* box-shadow: 3px -3px 5px 2px black; */
}

/* @media(width<900px){
    .button49,
.button49:after{
    top:85%;
}
} */

.button49:after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'ALTERNATE TEXT';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #57effe 5%);
    text-shadow: -3px -3px 0px white, 3px 3px 0px #57effe;
    clip-path: var(--slice-0);
  }

  .button49:hover:after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }

  /* @media(width<900px){
    .ahcentered{
        font-size:2.5rem;
        top: 15%;
        left: 10%;
        transform: translate(10%, 50%);
    }
    .ahabout{
        font-size: 13px;
    }
    .ahvideo{
        margin-top: -400px;
    }
    .btnh, .btnh:after{
        width: 18rem;
        font-size: 1rem;
    }
} */

  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  .aavartantheme{
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .aavartantheme img{
    width: 60%;
  }

  @media(width<600px){
    .aavartantheme img{
      width: 90%;
    }
  }

  .themesection{
    background-image: linear-gradient(to right, #1e2464, #090a1f);
    padding: 3rem 0;
  }