.parent{
    display: flex;
    flex-wrap: wrap;
} */

.eventcontainer{
    max-width: 1150px;
    margin: 0 auto;
}

.gridrow{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    justify-content: space-around;
}
.eventtitle{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: modern-warfare;
    padding-top: 7rem;
    padding-bottom: 1rem;
}
@media(width<300px){
    .eventtitle{
        font-size: 45px;
    }
}