:root {
    --primary-color: cyan;
  }
  
  .nav {
    position: fixed;
    z-index: 10000;
    background-color: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    width: 7%;
    height: 100vh;
    max-width: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    
  }
  
  
  .navitem {
    position: relative;
    cursor: pointer;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transform: rotateZ(90deg);
    transition: transform 0.05s ease-out;
  }
  
  .navlink {
    margin: 2px;
    width: 1rem;
    height: 1rem;
    border: 3px solid var(--primary-color);
    background: transparent;
    transition: background 0.2s;
  }
  
  .navlink span {
    display: inline-block;
  }
  
  
  .navitem:hover{
    transform: rotateZ(0deg);
  }
  
  .navitem:hover .navlink {
    background: var(--primary-color);
    box-shadow: 1px 1px 5px var(--primary-color);
  }
  
  /* .navlink_after {
    transition: 0.5s;
  }
   */
  .navlink_after {
    position: absolute;
    left: 60px;
    display: none;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--primary-color);
    text-shadow: 1px 1px blur #000;
    text-transform: uppercase;
  }
  
  .navitem:hover .navlink_after {
    display: inline-block;
  }
  

  @media screen and (max-width: 900px){
    .nav{
      display: none;
    }
  }