@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

.eventcardevents{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

.eventcardeventscontainer{
    display: flex;
    flex-direction: row;
    width: max-content;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none; 
    gap: 2rem; 
}

.eventcardeventscontainer::-webkit-scrollbar {
    display: none;
}

.eventcardcard{
    /* background-color:rgb(58, 145, 222); */
    padding: 0rem;
    margin: 2rem 1rem;
    font-family: 'Poppins', sans-serif; 
    width: 340px;
    background-color: #0e8187aa;
    padding: 0.5rem;
    border-radius: 10px;
}

.eventcardcard img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.aavartanbutton button{
    padding: 0.5rem 1rem;
    margin: 1.5rem 0;
    font-size: 17px;
    border-radius: 5px;
    font-weight: 0;
    border: 2px solid cyan;
    background-color: #0e8187;
    background-color: transparent;
    color: cyan;
    font-family: valorax;
    cursor: pointer;
}
.aavartanbutton button:hover{
	background-color: cyan;
	color: #0e8187 !important;
	transition: background-color 0.2s ease;
}

.eventcardcardtitle{
    font-weight:600;
    font-size: 1.5rem;
    margin: 0.5rem 0;
    min-height: 3rem;
    display: flex;
    align-items: center;
    line-height: 24px;
    text-align: center !important;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: uppercase;
    color: white;
}

.eventcardline{
    border: 0.1px solid rgb(230, 230, 230);
    /* border: 0.1px solid black; */
    margin: 0.5rem 0;
    font-weight: lighter;
}

.eventdetails{
    width: 100%;
    /* height: calc(100% - 270px); */
    border-radius: 0px 0px 5px 5px;
    padding: 0 0.5rem;
    /* backdrop-filter: blur(5px) saturate(100%); */
}

.eventcardcarddetails{
    margin-top: 1rem;
    color: rgb(220, 220, 220);
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* color: black; */
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Kanit', sans-serif;
    /* letter-spacing: 1px; */
    line-height: 1.2rem;
    text-align: justify;
    font-size: 16px;
}

.eventcardimage{
    transition: all 0.2s ease-in-out;
    /* height: 300px; */
    width: 100%;
}

@media(width<900px){
    /* .eventcardimage{
        height: 200px;
    } */
    .aavartanbutton button{
        padding: 0.4rem 1rem;
        font-size: 15px;
        font-weight: 0;
        border-radius: 0 10px 0 10px;
    }
}

.eventcardimage:hover{
    transform: scale(1.02);
    transition: all 0.2s ease-in-out;
    /* cursor: pointer; */
}