.heroWrapper {
	height: 100%;
	position: relative;
	overflow: hidden;
}


.heroWrapper video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	height: 100vh;
}

.videoWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	background: black;
}

.videoImageWrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.videoImageWrapper {
	position: absolute;
}

.doodleContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}



.particleWrapper,
.particleWrapperLeft {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.leftSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.textcontent {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
    max-width: 700px;
	min-width: 400px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: flex-start;
	color: white;
	padding-left: 7rem;
	padding-bottom: 3rem;
}

.textcontent p{
	padding-bottom: 1rem;
}

.button49,
.button49:after {
  width: 13rem;
  height: 4rem;
  line-height: 50px;
  font-size: 1.8rem;
  font-family: modern-warfare;
  background: linear-gradient(45deg, transparent 5%, #37AEE2 0%, #1E96C8 100%);
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
  /* box-shadow: 3px -3px 5px 2px black; */
}


.button49:after {
	--slice-0: inset(50% 50% 50% 50%);
	--slice-1: inset(80% -6px 0 0);
	--slice-2: inset(50% -6px 30% 0);
	--slice-3: inset(10% -6px 85% 0);
	--slice-4: inset(40% -6px 43% 0);
	--slice-5: inset(80% -6px 5% 0);
	
	content: 'ALTERNATE TEXT';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #57effe 5%);
	text-shadow: -3px -3px 0px white, 3px 3px 0px #57effe;
	clip-path: var(--slice-0);
  }
  
  
  .btnh, .btnh:after{
	  background: linear-gradient(45deg, transparent 5%, #1b966d 0%, #1ec879 100%);
	  height: 7rem;
	  width: 18rem;
	  line-height: 35px;
	  box-shadow: 6px 0px 0px #40f133;
  }
  .btnh:after{
	  background: linear-gradient(45deg, transparent 3%, #1ec879 3%, #1ec879 5%, #40f133 5%);
	  text-shadow: -3px -3px 0px white, 3px 3px 0px #40f133;
  }
  
  .button49:hover:after {
	animation: 1s glitch;
	animation-timing-function: steps(2, end);
  }

  @keyframes glitch {
	0% {
	  clip-path: var(--slice-1);
	  transform: translate(-20px, -10px);
	}
	10% {
	  clip-path: var(--slice-3);
	  transform: translate(10px, 10px);
	}
	20% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 10px);
	}
	30% {
	  clip-path: var(--slice-3);
	  transform: translate(0px, 5px);
	}
	40% {
	  clip-path: var(--slice-2);
	  transform: translate(-5px, 0px);
	}
	50% {
	  clip-path: var(--slice-3);
	  transform: translate(5px, 0px);
	}
	60% {
	  clip-path: var(--slice-4);
	  transform: translate(5px, 10px);
	}
	70% {
	  clip-path: var(--slice-2);
	  transform: translate(-10px, 10px);
	}
	80% {
	  clip-path: var(--slice-5);
	  transform: translate(20px, -10px);
	}
	90% {
	  clip-path: var(--slice-1);
	  transform: translate(-10px, 0px);
	}
	100% {
	  clip-path: var(--slice-1);
	  transform: translate(0);
	}
  }

.textcontent h2 {
	font-size: clamp(6vw, 25px, 100px);
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 0.5px 0.5px #cc0f39,-0.5px -0.5px cyan,
				1px 1px #cc0f39, -1px -1px cyan,
				1.5px 1.5px #cc0f39, -1.5px -1.5px cyan,
				2px 2px #cc0f39, -2px -2px cyan,
				2.5px 2.5px #cc0f39, -2.5px -2.5px cyan,
				3px 3px #cc0f39, -3px -3px cyan,
				3.5px 3.5px #cc0f39, -3.5px -3.5px cyan,
				4px 4px #cc0f39, -4px -4px cyan,
				4.5px 4.5px #cc0f39, -4.5px -4.5px cyan,
				5px 5px #cc0f39, -5px -5px cyan;
	color: white;
	letter-spacing: 3px;
}

.textcontent p {
	font-size: clamp(1.5vw, 15px, 40px);
	align-items: center;
	justify-content: center;
	margin-bottom: 8px;
	word-break: break-word;
	overflow-wrap: break-word;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.button_div {
	margin-top: 40px;
	margin-left: 50px;
	z-index: 100;
	align-items: flex-start;
}

.button {
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	color: cyan !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	border-radius: 5px;
	border: 2px solid cyan;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.button:hover {
	background-color: cyan;
	color: #161622 !important;
	transition: background-color 0.5s ease;
}


@media screen and (max-width:430px) {
	.textcontent{
		padding-left: 20px;
		padding-bottom: 20px;
	}
	
}
/* @media (min-width: 1920px) {
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
@media (max-width: 1025px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		width: 50%;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: start;
		color: white;

	}
	.textcontent h2 {
		font-size: 5rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 2rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}

	
}
@media (max-width: 900px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		width: 50%;
		display: flex;
		flex-direction: column-reverse;
		justify-content:  flex-start;
		align-items: start;
		color: white;

	
	}
	.textcontent h2 {
		font-size: 5rem;
	
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 2rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}

	
}
@media (max-width: 769px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: start;
		color: white;
	
	}
	.textcontent h2 {
		font-size: 4rem;
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 1rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}
}
@media (max-width: 426px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		
		height: 100%;
		top: 0;
		
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: start;
		color: white;

	
	}
	.textcontent h2 {
		font-size: 2.2rem;
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 1rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}
}
@media (max-width: 376px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: start;
		color: white;
	
	}
	.textcontent h2 {
		font-size: 2rem;
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 1rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}
}
@media (max-width: 321px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}
	.textcontent {
		position: absolute;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column-reverse;
		justify-content: center;
		align-items: start;
		color: white;
	
	}
	.textcontent h2 {
		font-size: 1.8rem;
		text-transform: uppercase;
	}
	
	.textcontent p {
		font-size: 1rem;
		align-items: center;
		justify-content: center;
	}
	
	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}
} */