.heroWrapper {
	height: 100%;
	position: relative;
	overflow: hidden;
}


.heroWrapper video {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
	height: 100vh;
}

.videoWrapper {
	height: 100%;
	width: 100%;
	display: flex;
	background: black;
}

.videoImageWrapper {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.videoImageWrapper>* {
	position: absolute;
}

.doodleContainer {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	overflow: hidden;
}



.particleWrapper,
.particleWrapperLeft {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.leftSection {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
}

.textcontent {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
    width: 50%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	align-items: start;
	color: white;
	padding-left: 150px;
	padding-bottom: 35px;

}

.button-49,
.button-49:after {
  width: 13rem;
  height: 4rem;
  line-height: 50px;
  font-size: 1.8rem;
  font-family: modern-warfare;
  background: linear-gradient(45deg, transparent 5%, #37AEE2 0%, #1E96C8 100%);
  border: 0;
  color: #fff;
  letter-spacing: 1px;
  box-shadow: 6px 0px 0px #00e6f6;
  outline: transparent;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  display: block;
  margin-top: 15px;

  /* box-shadow: 3px -3px 5px 2px black; */
}

.textcontent h2 {
	font-size: 100px;
	font-weight: bold;
	text-transform: uppercase;
	text-shadow: 5px 5px  #cc0f39;
	color: rgba(0, 153, 255, 0.93);
}

.textcontent p {
	font-size: 2rem;
	align-items: center;
	justify-content: center;
}

.button_div {
	margin-top: 40px;
	margin-left: 50px;
	z-index: 100;
	align-items: flex-start;
}

.button {
	padding: 0.75rem 1.5rem;
	font-size: 1.5rem;
	color: cyan !important;
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	border-radius: 5px;
	border: 2px solid cyan;
	cursor: pointer;
	outline: none;
	text-align: center;
}

.button:hover {
	background-color: cyan;
	color: #161622 !important;
	transition: background-color 0.5s ease;
}

@media (min-width: 1920px) {
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@media (max-width: 900px) {
	.leftSection {
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		backdrop-filter: blur(4px);
	}

	.textcontent {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: white;
		margin-left: 0;
		margin-bottom: 1rem;
	}

	.textcontent h1 {
		font-size: 2rem;
		font-weight: bold;
	}

	.textcontent p {
		font-size: 1rem;
		margin-left: 35px;
	}

	.videoWrapper {
		background: black;
		flex-direction: column-reverse;
	}

	.button_div {
		margin-left: 0;
		margin-top: 25px;
	}

	.button {
		font-size: 1.25rem;
		padding: 0.5rem 1rem;
		background: cyan;
		color: #161622 !important;
	}
}