* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.corecard {
  justify-self: center;
  align-self: center;
  margin: auto;
}

.core {
  width: 250px;
  height: 70px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
align-items: center;
  border: 1px solid cyan;
  flex-wrap: wrap;
  backdrop-filter: blur(1px) saturate(111%);
  -webkit-backdrop-filter: blur(1px) saturate(111%);
  background-color: rgba(0, 12, 95, 0.01);
  /* opacity: 0.6; */
  box-shadow: 1px 2px 5px #00000077;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.corecard:hover .core {
  transform: translateY(-5px) translateZ(5px) scale(1.05);
  box-shadow: 1px 4px 10px #000000a2;
}

.corename {
  color: rgb(248, 220, 120);
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

.coredomain {
  color: rgb(248, 220, 120);
  font-weight: 300;
  font-size: 0.7rem;
  text-transform: capitalize;
}
