* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.corecard {
  justify-self: center;
  align-self: center;
  margin: auto;
}

.core {
  width: 250px;
  height: 70px;
 display: flex;
 flex-direction: column;
 justify-content: center;
align-items: center;
  border: 1px solid cyan;
  flex-wrap: wrap;
  backdrop-filter: blur(5px) saturate(111%);
  -webkit-backdrop-filter: blur(5px) saturate(111%);
  background-color: rgb(248, 220, 120);
  /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(174,49,168,1) 0%, rgba(121,0,255,1) 100%); */

  /* background-color: rgba(0, 12, 95, 0.01); */
  /* opacity: 0.6; */
  box-shadow: 1px 2px 5px #00000077;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.corecard:hover .core {
  transform: translateY(-5px) translateZ(5px) scale(1.05);
  box-shadow: 1px 4px 10px #000000a2;
}

.corename {
  color: black;
  font-size: 0.9rem;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  margin:5px auto;
}

.coredomain {
  color: rgb(36, 36, 36);
  font-weight: 500;
  font-size: 0.7rem;
  text-transform: capitalize;
  margin:5px auto;

}
