.quoteContainer {
  height: 40%;
  text-align: left;
  position: relative;
  padding-left: 2rem;
  font-size: 1.2rem;
}

.quotationMark {
  width: 25px;
  position: absolute;
  top: -10px;
  left: -10px;
}

.quote {
  font-family: 'Montserrat', sans-serif;
}

.author {
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 400px) {
  .quoteContainer {
    padding: 0 1rem;
    font-size: 1rem;
  }

  .quotationMark {
    width: 20px;
  }
}