section {
  opacity: 0;
  transform: translate(-100%);
  transition: 600ms ease;
  position: relative;
  z-index: 1;
  margin: 50px 0;
  padding: 1 rem;
  border-radius: 1 rem;
  align-items: center;
  min-height: 300px;

  display: flex;


}

section h1 {
  color: #fff;
  font-size: 100px;

}
.headings{
  
  text-align: center;
  margin-bottom: 100px;
}

hr{
  height: 2px;
  width: 150px;
  border: none;
  background: #fff;
  border-radius: 5px;
  margin-left: 570px;
}
div h2 {
  color: #fff;
  padding-top: 30px;
  font-size: 2.5rem;
  font-family: 'valorax';
}

.containers {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 100px 0px;
}
.maincontainer{
 background-color: transparent;
   
}


.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #1e1f22;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child{
margin-bottom: 0px;


} 


.timeline-content h1 {

  font-size: 25px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 10px;

}

.timeline-content p {

  font-size: 16px;
  font-weight: 300;
  line-height: 30px;

}

.timeline-content h2{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;


}

.reveal{
  position: relative;
  opacity: 0;
  transform: translateY(150px);
  transition: all 2s ease;
  
}

.reveal.active{
  transform: translateY(0px);
  opacity: 1;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.arrow{
  position:absolute;
  transform: translateY(240px);
  border-radius: 50px;
  background-color: transparent;
  cursor: pointer;
  opacity: 1;
}
.arrow i{
  color: #fff;
}

.disp{
  visibility: hidden ;
}


@media screen and (min-width: 768px) {

  .timeline::before{
      content: "";
      position: absolute;
      height: 100%;
      width: 5px;
      background: rgb(80,70,246);
      background: linear-gradient(0deg, rgba(80,70,246,1) 0%, rgba(102,255,159,1) 34%, rgba(255,155,112,1) 66%, rgba(65,119,230,1) 100%);
      
      left: 50%;
  }
  .timeline ul li {
      width: 50%;
      margin-bottom: 50px;
      position: relative;
  }

  .timeline ul li:nth-child(odd) {

      float: left;
      clear: right;
      transform: translateX(-30px);
      border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {

      float: right;
      clear: left;
      transform: translateX(30px);
      border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 20px;
      background: rgb(80,70,246);
      
      border-radius: 50%;
      top:0;
  }

  .timeline ul li:nth-child(odd)::after{
      right: -31px;
      transform: translate(50%,-50%);
  }

  .timeline ul li:nth-child(even)::after{
      left: -29px;
      transform: translate(-50%,-50%);
  }

  .timeline ul li:hover::after{
      background-color: aqua;
  }

  .timeline-content h2{
      position: absolute;
      top: -22px
  }

}